<div class="container mt-3" id ="home-container">
<div class="jumbotron text-white rounded text-center">
    <h1 class='display-4'>Blogging Oasis</h1>
    <p class="lead">Welcome to Blogging Oasis, the ultimate destination for passionate writers and avid readers.</p>
    <hr class="mt-4 text-white rounded text-center">
    <p>Whether you're an aspiring blogger or a seasoned wordsmith, our platform offers a serene and inspiring environment to unleash your creativity and share your unique voice with the world. Join our vibrant community of like-minded individuals, where ideas flow freely, discussions thrive, and connections are made. Embark on a journey of self-expression and exploration as you navigate the oasis of captivating stories, insightful articles, and thought-provoking discussions.Sign up now and become a part of the Blogging Oasis family, where inspiration meets imagination.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
      </div>
  </div>
</div>
