<div id = "page-content" class="bg-secondary">
<div class="container mt-5" id ="home-container">
<div class="jumbotron text-white rounded text-center style mb-0">
    <h1 class='display-4'>The Blogging Oasis</h1>
    <p class="lead">Welcome to Blogging Oasis, the ultimate destination for passionate writers and avid readers.</p>
    <p class="mr-4">Whether you're an aspiring blogger or a seasoned wordsmith, our platform offers a serene and inspiring environment to unleash your creativity and share your unique voice with the world. Join our vibrant community of like-minded individuals, where ideas flow freely, discussions thrive, and connections are made. Embark on a journey of self-expression and exploration as you navigate the oasis of captivating stories, insightful articles, and thought-provoking discussions.Sign up now and become a part of the Blogging Oasis family, where inspiration meets imagination.</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
      </div>
  </div>
</div>
</div>




