<footer
  class="
    footer
    bg-dark
    w-100
    py-4
    position-relative
    bottom-0
    start-50
    translate-middle-x
    text-center
  "
>
  <div class="container">
    <span class="text-light">Copyright &copy;
      <%= link_to "Priya Sherke", "https://priyasherke.com", class: "text-white" %></span>
  </div>
</footer>
